@font-face {
  font-family: 'iconfont';  /* Project id 2598606 */
  src: url('//at.alicdn.com/t/font_2598606_xtx2f29f5g.woff2?t=1623164272813') format('woff2'),
  url('//at.alicdn.com/t/font_2598606_xtx2f29f5g.woff?t=1623164272813') format('woff'),
  url('//at.alicdn.com/t/font_2598606_xtx2f29f5g.ttf?t=1623164272813') format('truetype');
}

/*
  delete: &#xe613;
  add: &#xe658;
  dynamic: &#xe68a;
  layout: &#xe68b;
  history: &#xe68c;
  work: &#xe68d;
  home: &#xe68e;
*/

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 100px;
}

.dialog {
  width: 800px;
  background: #fff;
  margin: auto;
  border: 1px solid #e4e4e4;
  font-size: 12px;
}
.dialog-header {
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  background: #28c658;
  color: #fff;
}

.category {
  padding: 20px 30px;
  margin-bottom: 10px;
}

.category-title {
  overflow: hidden;
  margin-bottom: 18px;
}

.category .title {
  font-weight: 600;
  float: left;
}

.clear {
  clear: both;
}

.app-item {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px dashed #8b8b8b;
  text-align: center;
  float: left;
  margin: 0 30px 30px 0;
  padding-top: 5px;
}
.app-item .operator {
  position: absolute;
  left: -10px;
  top: -10px;
  cursor: pointer;
  font-size: 20px;
}
.app-item .add {
  color: #1a7ce7;
}
.app-item .add:hover {
  color: #0661c4;
}

.app-item .delete {
  color: #f34e54;
}
.app-item .delete:hover {
  color: #af171d;
}

.app-item .icon {
  color: #28c658;
  font-size: 40px;
}

.app-item .text {
  color: #727272;
  margin-top: 5px;
}

.notice {
  color: #8f8f8f;
}

.dialog-footer {
  padding: 0 20px 20px 0;
  overflow: hidden;
}

.btn-group {
  float: right;
}

.btn {
  width: 80px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #8f8f8f;
  color: #8f8f8f;
  margin-left: 20px;
  cursor: pointer;
}
.btn.cancel {
  background: #fff;
}
.btn.ok {
  border-color: #28c658;
  background: #28c658;
  color: #fff;
}


